{% extends 'base.html' %}

{% block head %}
<title>{{course_code}}- all attendance</title>
{% endblock %}

{% block body %}

	<span class="big-success">Course Code: {{course_code}}</span>
	<hr></hr>
	<div class="row">

		<div class="col-md-3"  style="max-width: 13%;">
			<table class="table table-bordered">
			  <thead>
			    <tr>
			      <th>Name Of students</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<form method="POST">
			    {% for s in session_students %}
			      <tr>
				      	{% csrf_token %}
				        <td><button type="submit" name="s" value="{{s}}" style="background: none;
	color: blue ;
	border: none;">{{s}}</button></td>
			      </tr>
			    {% endfor %}
			    </form>
			  </tbody>
			</table>
		</div>


		{% for date, students in attend_students %}
		<div class="col-md-3" style="max-width: 10%;">
			<table class="table table-bordered" style="text-align: center;">
			  <thead>
			    <tr>
			      <th>{{date}}</th>
			    </tr>
			  </thead>
			 
			  <tbody>
			    {% for s in session_students %}
			      <tr>
			      	{% if s in students %}
				        <td style="color: #08C74E; font-weight: bold;">P</td>
				    {% elif s not in students %}
				        <td style="color: red; font-weight: bold;">A</td>
				    {% endif %}
			      </tr>
			    {% endfor %}
			  </tbody>
			</table>
		</div>
		{% endfor %}

		{% if attend_students.has_other_pages %}
		  <ul class="pagination">
		    {% if attend_students.has_previous %}
		      <li><a href="?page={{ attend_students.previous_page_number }}">&laquo;</a></li>
		    {% else %}
		      <li class="disabled"><span>&laquo;</span></li>
		    {% endif %}
		    {% for i in attend_students.paginator.page_range %}
		      {% if attend_students.number == i %}
		        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		      {% else %}
		        <li><a href="?page={{ i }}">{{ i }}</a></li>
		      {% endif %}
		    {% endfor %}
		    {% if attend_students.has_next %}
		      <li><a href="?page={{ attend_students.next_page_number }}">&raquo;</a></li>
		    {% else %}
		      <li class="disabled"><span>&raquo;</span></li>
		    {% endif %}
		  </ul>
	</div>
{% endif %}


{% endblock %}