{% extends 'base.html' %}

{% block head %}
	<title>{{user_details.user.username}} ({{user_details.user.first_name}} {{user_details.user.last_name}})</title>
{% endblock %}

{% block body %}

	<div class="row" style="box-sizing: inherit;">

		<!-- left part -->
		<div class="col-md-3" >
			<div class="shadow p-3 mb-5 bg-white rounded">
				<div class="d-flex justify-content-center">
					<h3>{{user_details.user.first_name}} {{user_details.user.last_name}}</h3>
				</div>
				<hr></hr>
				<p class="d-flex justify-content-center"> <!-- center the image -->
					{% load staticfiles %}
					<img src="{% static 'images/saifsir.jpg'  %}" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
				</p>
				<p><i></i>{{ position }}</p>
				<p><i></i>{{ user_details.city}}, {{ user_details.country}}</p>
				<p><i></i></p>

				<a href="{% url 'accounts:edit_profile' %}" class="btn btn-outline-info">edit_profile</button></a>
			</div>
		</div>
		<!-- End left part -->

		<!-- middle part --> 
		<div class="col-md-6"> 
			<div class="shadow p-3 mb-5 bg-white rounded" style="margin-bottom: 1rem !important;">

				<h5>Get the QR code</h5>
				<hr></hr>
				<h3>Select the session</h3>	
				{% for session in repeat %}
					<a href="{{ session.get_absolute_url }}" class="btn btn-outline-info">{{ session }}</a>
				{% endfor %}		
			</div>
			<div class="shadow p-3 mb-5 bg-white rounded">
				All the news feed here
			</div>
		</div>
		<!-- End middle part -->

		<!-- right part -->
		<div class="col-md-3">
			<!--- Each day attendance --->	
			<div class="pre-scrollable shadow p-3 mb-5 bg-white rounded">
				<h5>Select class present sheets</h5>
				<hr></hr>
				{% for sheet in present_sheet %}
					<div class="present-sheet-div">
						<a href="{{ sheet.get_absolute_url }}" class="btn btn-outline-info">{{ sheet }}</a>
					</div>
				{% endfor %}
			</div>
			<!--- End each day attendance --->	

			<!--- Each course attendance --->
				<div class="pre-scrollable shadow p-3 mb-5 bg-white rounded">
				<h5>Course Present Sheet</h5>
				<hr></hr>
				<form method="POST">
					{% csrf_token %}
					{% for c in courses %}
					<button class="btn btn-outline-info" type="submit" name="c" value="{{c}}">{{c}}</button>
					{% endfor %}
					<br>
				</form>	
			</div>

			<!--- End each course attendance --->	
		</div>
		<!-- End right part -->
	</div>

{% endblock %}