    <!DOCTYPE html>
    <html lang="en">
      <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Student SignUp</title>

        {% load static %}

        <link rel="stylesheet" href="{% static 'accounts/bootstrap/css/bootstrap.min.css'%}" crossorigin="anonymous"></link>
        <!-- teacher form css --->
        <link rel="stylesheet" href="{% static 'accounts/student_reg_form.css' %}" type="text/css">

      </head>

      <body>
        <div class="container" style="margin-left:380px; ">
          <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2">
              <div class="register-form">
                <div style="text-align: center;">
                  {% load static %}                  
                <img src="{% static 'images/qr code attendance logo.png' %}" style="max-width: 140px;margin-top: 30px;"></img>
                </div>
                <form action="{% url 'accounts:student_signup' %}" method="post">
                  {% csrf_token %}
                  <h5 class="text-center">Student SignUp</h5>
                  <p class="hint-text">Create your account. It's free and takes just a minute.</p>

                  <div class="row">
                    <div class="col-md-6 col-xs-12">
                      <div class="form-group">
                        {{ form.first_name }}
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                      <div class="form-group">   
                        {{ form.last_name }}
                      </div> 
                    </div>     
                  </div>
                   <div class="form-group">
                  	{{ form.student_id }}
                  </div>
                  <div class="form-group">
                    {{ form.username }}
                  </div>

                  <div class="form-group">
                    {{ form.email }}
                  </div>

                  <div class="form-group">
                    {{ form.password1 }}
                  </div>
                  <div class="form-group">
                    {{ form.password2 }}
                  </div>        
                <h5>Session: </h5>
                  <div class="form-group">
                    {{ form.student_session }}
                  </div>
                  <h5>Department: </h5>
                  <div class="form-group">
                    {% for choice in form.department %}
                      <span class="radio" id="{{ forloop.counter }}">
                        {{ choice.tag }}
                      </span>
                      {{ choice.choice_label }}
                      <br>
                    {% endfor %}
                  </div>

                  <div class="form-group">
                    <div class="col-md-6">
                      {{ form.user_type }}
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-3 col-xs-12">
                      <div class="form-group">
                        <input type="submit" value="SignUp" class="btn btn-outline-info" tabindex="7">
                      </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                      <div class="form-group">
                        <a href="{% url 'accounts:login' %}" class="btn btn-outline-info" >Login</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      </body>
    </html>