{% extends 'base.html' %}

{% block head %}
<title>{{course_code}}- all attendance</title>
{% endblock %}

{% block main-content %}

	<div>
		<span class="big-success titleFont">Course Code: {{course_code}}</span>
		<span style="float: right;">
			<form method="POST">
				{% csrf_token %}
				<button type="submit" name="delete" value="delete" class="btn btn-outline-info">Delete</button>
			</form>
		</span>
	</div>
	<hr></hr>
		<div class="table-responsive">
			<table class="table table-bordered" style="text-align: center;">
			  <thead>
			    <tr>
			      <th scope="col">Name of Students</th>
	  			{% for date, students in attend_students %}
			      <th scope="col">{{date}}</th>
			    {% endfor %}
			    </tr>
			  </thead>
			 
			  <tbody>

			  	{% for s in session_students %}
			      <tr>
			      	<th scope="row">
			      		<form method="POST">
			      			{% csrf_token %}
							<button type="submit" name="student" value="{{s}}" style="background: none;color: blue;border: none;">{{s}}</button> 
						</form>
			      	</th>
		  			{% for date, students in attend_students %}
						{% if s in students %}
					        <td scope="col" style="color: #08C74E; font-weight: bold;">P</td>
				    	{% else %}
				    	    <td scope="col" style="color: red; font-weight: bold;">A</td>
				    	{% endif %}
				    {% endfor %}
			      </tr>
			    {% endfor %}

			  </tbody>
			</table>
		</div>

{% endblock %}